<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Sector Marketing</title>
</head>
<body style="background-color: #2f387b;">
    <link rel="icon" href="images/download.png" type="image/png">
    <link rel='shortcut icon' type='image/.png' href='images/download.png'>
    <link rel="stylesheet" href="style.css">
 <!--logo starts here-->
 <div class="logo">
    <a href="index.ejs">
    <img src="/images/download.png" alt="logo" style="width: 100px;height: 100px;">
</a>
</div>
<!--logo ends here-->

<!--HEADING-->
<a href="index.ejs">
    <div class="div-header">
       <header>POWER SECTOR MARKETING</header> 
   </div>
   </a>
<!--HEADING ENDS-->

<div>
    <h1>Password Changed</h1>
    
</div>
   



<!--footer starts here-->
<div class="footer-div">
    <footer>
        <p class="footer-p">Copyright &copy; 2018 BHEL Corporate Website. All rights reserved. Created by YAsh RAj Anand</p>
    </footer>
    </div>