<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Sector Marketing</title>
</head>
<body style="background-color: #2f387b;">
    <link rel="icon" href="images/download.png" type="image/png">
    <link rel='shortcut icon' type='image/.png' href='images/download.png'>
    <link rel="stylesheet" href="style.css">
    <script src="index.js"></script>

    <!--logo starts here-->
    <div class="logo">
        <a href="/views/index.ejs">
        <img src="images/download.png" alt="logo" style="width: 100px;height: 100px;">
    </a>
    </div>
 <!--logo ends here-->

 <!--HEADING-->
 <a href="/views/index.ejs">
 <div class="div-header">
    <header>POWER SECTOR MARKETING</header> 
</div>
</a>
<!--HEADING ENDS-->

 <!--navigation bar starts here-->
 <div class="nav-bar">
    <nav class="dropdown-navigation">
        <ul>
            <li><button class="btn-class"><a href="/views/index.ejs">HOME</a></button></li>
            <li><button class="btn-class"><a href="#">ABOUT US</a></button>
                <div class="sub-nav">
                    <ul>
                        <li><button class="nav-btn"><a href="">ORGANIZATION STRUCTURE</a></button></li>
                        <li><button class="nav-btn"><a href="">MARKETING TEAM</a></button></li>
                        <li><button class="nav-btn"><a href="">DEPARTMENTAL PROCEDURE</a></button></li>
                        <li><button  class="nav-btn"><a href="">UNIQUE ROLE IN MARKETING</a></button></li>
                    </ul>
                </div>
            </li>

            <li><button class="btn-class"><a href="#">OUR CUSTOMERS</a></button>
                <div class="sub-nav">
                    <ul>
                        <li><button  class="nav-btn"><a href="">CUSTOMER COMPLAINT SYSTEM</a></button></li>
                        <li><button  class="nav-btn"><a href="">CUSTOMER WEBSITE</a></button></li>
                    </ul>
                </div>
            </li>

            <li><button class="btn-class"><a href="#">BUSINESS ENVIRONMENT</a></button>
                <div class="sub-nav">
                    <ul>
                        <li><button  class="nav-btn"><a href="">MIR</a></button>
                            <div class="sub-nav-1">
                                <ul>
                                    <li><button  class="nav-btn"><a href="">BUSINESS OUTLOOK</a></button></li>
                                    <li><button  class="nav-btn"><a href="">PROVISIONS</a></button></li>
                                    <li><button  class="nav-btn"><a href="">DEFFERED BILLING</a></button></li>
                                    <li><button  class="nav-btn"><a href="">ORDER WON/LOST</a></button></li>
                                </ul>
                            </div>
                        </li>
                        <li><button  class="nav-btn"><a href="">COMPETITIORS</a></button></li>
                        <li><button  class="nav-btn"><a href="">GOVT. POLICIES</a></button></li>
                        <li><button  class="nav-btn"><a href="">REPORTS</a></li>
                        <li><button  class="nav-btn"><a href="">PRESENTATIONS</a></button></li>
                        <li><button  class="nav-btn"><a href="">NEWS CLIPS</a></button></li>
                        <li><button  class="nav-btn"><a href="">PRESS RELEASE</a></button></li>
                    </ul>
                </div>
            </li>

            <li><button class="btn-class"><a href="#">ONLINE SYSTEM</a></button>
                <div class="sub-nav">
                    <ul>
                        <li><button  class="nav-btn"><a href="">ENQUIRY NUMBER</a></button></li>
                        <li><button  class="nav-btn"><a href="">ORDER BOOKING</a></button></li>
                        <li><button  class="nav-btn"><a href="">INTERNAL ORDER</a></button></li>
                        <li><button  class="nav-btn"><a href="">INVOIVE GERNERATION </BR>PAYMENT ALLOCATON</a></button></li>
                        <li><button  class="nav-btn"><a href="">BANK GAURANTEES</a></button></li>
                        <li><button  class="nav-btn"><a href="">PRE-MCM_CIM</a></button></li>
                    </ul>
                </div>
            </li>

            <li><button class="btn-class"><a href="#">TENDERS</a></button>
                <div class="sub-nav">
                    <ul>
                        <li><button  class="nav-btn"><a href="">CURRENT TENDERS</a></button></li>
                        <li><button  class="nav-btn"><a href="">TENDER ARCHIVES</a></button></li>
                        <li><button  class="nav-btn"><a href="">REFERENCE DOCOUMENTS</a></button></li>
                    </ul>
                </div>
            </li>
            
            <li><button class="btn-class"><a href="#">CONTRACTS</a></button>
                <div class="sub-nav">
                    <ul>
                        <li><button  class="nav-btn"><a href="">ONGOING CONTRACTS</a></button></li>
                        <li><button  class="nav-btn"><a href="">CONTRACTS ARCHIVES</a></button></li>
                        <li><button  class="nav-btn"><a href="">COMMISSIONED PROJECT</a></button></li>
                        <li><button  class="nav-btn"><a href="">PMG DAILY REPORT</a></button></li>
                    </ul>
                </div>
            </li>
            
            <li><button class="btn-class"><a href="#">EMPLOYEE CORNER</a></button>
                <div class="sub-nav">
                    <ul>
                        <li><button  class="nav-btn"><a href="">EMPLOYEE CLAIMS</a></button></li>
                        <li><button  class="nav-btn"><a href="">HOLIDAY HOME</a></button></li>
                        <li><button  class="nav-btn"><a href="">CORPORATE CIRCULARS</a></button></li>
                        <li><button  class="nav-btn"><a href="">IT COMPLAINTS</a></button></li>
                        <li><button  class="nav-btn"><a href="">CONFERENCE HALL BOOKING</a></button></li>
                        <li><button  class="nav-btn"><a href="">DOWNLOAD SOFTWARE</a></button></li>
                        <li><button  class="nav-btn"><a href="">HR INFO</a></button></li>
                        <li><button  class="nav-btn"><a href="">EMPLOYEE BLOGS</a></button></li>
                        <li><button  class="nav-btn"><a href="">SUGGESTIONS</a></button></li>
                    </ul>
                </div>
            </li>

            <li><button class="btn-class"><a href="/views/login.ejs" name="login"> LOGIN</a></button></li>

        </ul>

    </nav>
</div>
    
    <!--navigation bar ends here-->

    <marquee style="color: red; height: 50px;"> This website is under construction </marquee>

<!--image slider-->

<div class="mySlides1">
    
        <img class="mySlides" src="images/1 (1).jpg">
        <img class="mySlides" src="images/1 (2).jpg">
        <img class="mySlides" src="images/1 (3).jpg">

  </div>

  <style>


</style>

  <script>var myIndex = 0;
    carousel();
    
    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 3000);
    }</script>
  

<!--image slider ends-->


    <!--iframe from bhel website starts here-->
    <div class="iframe-class">
    <iframe src="https://www.bhel.com/" frameborder="0" style="height: 08cm; width: 10cm;"></iframe>
</div>
<!--iframe from bhel website ends here-->

<!--quick links table-->

<div class="quick-links-table">
    <table class="table-class">
        <tr class="tr1">QUICK LINKS</tr>
        <TD>
           <li class="td-content"> <a href="https://www.google.com/">Google</a></li><br>
            <li class="td-content"> <a href="https://www.facebook.com/">Facebook</a></li><br>
            <li class="td-content"> <a href="https://www.twitter.com/">Twitter</a></li><br>
            <li class="td-content"> <a href="https://www.youtube.com/">Youtube</a></li><br>
            </TD>
    </table>
</div>

<!--quick links table-->

<!--links in dropdown menu starts here-->
<div class="dropdown-menu">

<select name="Useful_inks" id="" size="1" onchange="window.location.href=this.value;">
    <option value="-1">Useful Links</option>
    <option value="http://www.dhi.nic.in/">Ministry of Heavy Industry</option>
    <option value="http://www.finmin.nic.in/">Ministry of Finance</option>
    <option value="http://moef.nic.in/index.php">Ministry of Environment & Forests</option>
    <option value="http://www.coal.nic.in/">Ministry of Coal</option>
    <option value="http://eaindustry.nic.in">Ministry of Economic Advisor</option>
    <option value="http://www.mnre.gov.in/">MNES</option>
    <option value="http://www.dae.gov.in/">Department of Atomic Energy</option>
    <option value="http://dgft.delhi.nic.in/">Directorate General of Foreign Trade</option>
    <option value="http://www.powermin.nic.in">Ministry Of Power</option>
    <option value="http://www.cea.nic.in">Central Electricity Authority</option>
    <option value="http://www.recindia.nic.in/">Rural Electrification Corp. Ltd.</option>
    <option value="http://www.pfc.gov.in">Power Finance Corp. Ltd.</option>
    <option value="http://labourbureau.nic.in/">Labour Bureau</option>
    <option value="http://www.rbi.org.in/home.aspx">Reserve Bank of India</option>
    <option value="http://10.50.11.25/corp/index2.jsp?agency=FSD">SBI Exchange Rate</option>
    <option value="http://www.indiahousing.com/infrastructure-in-india.html">Infrastructure Development of India</option>
    <option value="http://10.23.48.7/indices used by psm/indices.html">Indices</option>
    
</select>
<!--links in dropdown menu ends here-->

<!--intranet site links starts here-->
<select name="intranet_sites" id="" size="1" onchange="window.location.href=this.value">
    <option value="-1"> Intranet Sites</option>
    <option value="http://10.50.11.93/Pages/WelcomePage.aspx">Corporate Office</option>
    <option value="http://10.28.100.1">IVP,Goindwal</option>
    <option value="http://10.12.25.7">HRDI,Noida</option>
    <option value="http://www.bhel.com">BHEL Home Page</option>
    <option value="http://10.3.2.206">HEEP Haridwar</option>
    <option value="http://emap.bhel.in">BHEL eMAP</option>
    <option value="http://10.7.1.21">BAP Ranipet</option>
    <option value="http://10.40.1.226">EPD Bangalore</option>
    <option value="http://10.9.1.80">Corp R&D Hyderabad</option>
    <option value="http://10.2.2.22">EDN Bangalore</option>
    <option value="http://10.5.6.15">HPEP Hyderabad</option>
    <option value="http://10.4.1.78">HEP Bhopal</option>
    <option value="http://10.1.50.45">HPBP Trichy</option>
    <option value="http://10.6.1.10">Industry Sector, Lodhi Road</option>
    <option value="http://10.23.30.223/isbg">SSBG</option>
    <option value="http://10.75.1.5">ISG Bangalore</option>
    <option value="http://10.8.1.4">Jhansi</option>
    <option value="http://10.11.1.5">PSER Kolkata</option>
    <option value="http://10.51.20.40">PEM, New Delhi</option>
    <option value="http://10.10.1.244/bhelpiping">PIPING Centre</option>
    <option value="http://10.23.1.23">PS HQ</option>
    <option value="http://10.23.48.7">PS Marketing</option>
    <option value="http://10.12.1.8">PSNR Noida</option>
    <option value="http://10.13.1.51">PSSR Chennai</option>
    <option value="http://10.14.1.6">PSWR Nagpur</option>
    <option value="http://10.35.1.8">PS-Technical Services</option>
    <option value="http://10.19.1.52">ROD Chennai</option>
    <option value="http://10.6.3.10">ROD HQ</option>
    <option value="http://10.18.1.83/rodmumbai/default.aspx">ROD Mumbai</option>
    <option value=""></option>




</select>
<!--intranet site links ends here-->

<!--Internet sites starts here-->
<select name="Intternet_sites" id="" size="1" onchange="window.location.href=this.value">
    <option value="-1"> Internet Sites</option>
    <option value="http://www.bhel.com/home.php">BHEL Corporate web Site</option>
    <option value="http://emap.bhel.in/">BHEL Map</option>
    <option value="http://bhelbpl.co.in/">Bhopal</option>
    <option value="http://www.bheledn.com/">EDN, Bangalore</option>
    <option value="http://www.bhelhwr.co.in/bhelweb/index.jsp">Haridwar</option>
    <option value="">Industry Sector</option>
    <option value="http://www.bhelhyd.co.in/">Hydrabad</option>
    <option value="http://www.jantermanter.com/">PSER</option>
    <option value="http://www.utilityboiler.com/">Trichy-Boiler</option>
    <option value="http://www.bheltry-spares.com/">Trichy-Spares</option>
    <option value="http://www.wriindia.com/">Trichy-WRI</option>
</select>

<!--Internet sites ends here-->

<!--links to other sites-->

<select name="Other_sites" id="" size="1" onchange="window.location.href=this.value">
    <option value="-1"> Other Sites</option>
    <option value="http://www.erail.in/">E-Rail</option>
    <option value="http://indian-airlines.nic.in/">Indian Airlines</option>
    <option value="http://www.indianrail.gov.in/">Indian Railway</option>
    <option value="http://www.incometaxindia.gov.in/">Income Tax India</option>
    <option value="https://www.irctc.co.in/">IRCTC</option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
</select>

</div>
<!--links to other sites ends here-->

<!--image slider starts here-->
<div class="image-slider"></div>
<!--image slider endss here-->

<!--birthday table-->
<div class="birthday-table" style="background-color: antiquewhite;">
    <table class="class-birthday-table" style="width: 100%;">
        <th class="tr-class" style="width: 5cm; height: 0.5cm;" >Name
            <td></td>
        </th>

        <th class="tr-class" style="width: 5cm; height: 0.5cm;">Age
            <td></td>
        </th>
        <th class="tr-class" style="width: 5cm; height: 0.5cm;">Designation
            <td></td>
        </th>
        <th class="tr-class" style="width: 5cm; height: 0.5cm;">Birthday
            <td></td>
        </th>
    </table>
</div>
<!--birthday table-->
<div class="Thought-table" style="background-color: antiquewhite;">
    <table style="width: 100%;">
        <th class="tr-class" style="width: 5cm; height: 0.5cm;" >Thought Of the Day
            <td></td>
    </table>
</div>
<!--thought of the day-->

<!--footer starts here-->
<div class="footer-div">
<footer>
    <p class="footer-p">Copyright &copy; 2018 BHEL Corporate Website. All rights reserved. Created by YAsh RAj Anand</p>
</footer>
</div>

</body>
</html>
